Code for pseudo.cql
CSY3024-firstsit-assignment-2019-20.pdf
EPL_dataset_for_2019_20_assignment.csv
EPL_dataset_for_2019_20_assignment_TEST.csv
Learning Diary.docx
Notes about EPL data
Notes about EPL data.txt
Questions.docx
stanislaw_generated_resume.pdf
Neo4j Screenshots
